<% content_for :javascripts do %>
<script>
	if(window.opener) {
		window.opener.location.reload(true);
		window.close()
	}
</script>
<% end %>
<h2>Browse Regions</h2>
<div class="row-fluid">
  <div class="span4">
    <ul class="unstyled">
      <li><a href="/regions/1">Alabama</a></li>
      <li><a href="/regions/2">Alaska</a></li>
      <li><a href="/regions/3">Arizona</a></li>
      <li><a href="/regions/4">Arkansas</a></li>
      <li><a href="/regions/5">California</a></li>
      <li><a href="/regions/6">Colorado</a></li>
      <li><a href="/regions/7">Connecticut</a></li>
      <li><a href="/regions/8">Delaware</a></li>
      <li><a href="/regions/9">District of Columbia</a></li>
      <li><a href="/regions/10">Florida</a></li>
      <li><a href="/regions/11">Georgia</a></li>
      <li><a href="/regions/12">Hawaii</a></li>
      <li><a href="/regions/13">Idaho</a></li>
      <li><a href="/regions/14">Illinois</a></li>
      <li><a href="/regions/15">Indiana</a></li>
      <li><a href="/regions/16">Iowa</a></li>
      <li><a href="/regions/17">Kansas</a></li>
      <li><a href="/regions/18">Kentucky</a></li>
    </ul>
  </div>
  <div class="span4">
    <ul class="unstyled">
      <li><a href="/regions/19">Louisiana</a></li>
      <li><a href="/regions/20">Maine</a></li>
      <li><a href="/regions/21">Maryland</a></li>
      <li><a href="/regions/22">Massachusetts</a></li>
      <li><a href="/regions/23">Michigan</a></li>
      <li><a href="/regions/24">Minnesota</a></li>
      <li><a href="/regions/25">Mississippi</a></li>
      <li><a href="/regions/26">Missouri</a></li>
      <li><a href="/regions/27">Montana</a></li>
      <li><a href="/regions/28">Nebraska</a></li>
      <li><a href="/regions/29">Nevada</a></li>
      <li><a href="/regions/30">New Hampshire</a></li>
      <li><a href="/regions/31">New Jersey</a></li>
      <li><a href="/regions/32">New Mexico</a></li>
      <li><a href="/regions/33">New York</a></li>
      <li><a href="/regions/34">North Carolina</a></li>
      <li><a href="/regions/35">North Dakota</a></li>
      <li><a href="/regions/36">Ohio</a></li>
    </ul>
  </div>
  <div class="span4">
    <ul class="unstyled">
      <li><a href="/regions/37">Oklahoma</a></li>
      <li><a href="/regions/38">Oregon</a></li>
      <li><a href="/regions/39">Pennsylvania</a></li>
      <li><a href="/regions/40">Rhode Island</a></li>
      <li><a href="/regions/41">South Carolina</a></li>
      <li><a href="/regions/42">South Dakota</a></li>
      <li><a href="/regions/43">Tennessee</a></li>
      <li><a href="/regions/44">Texas</a></li>
      <li><a href="/regions/45">Utah</a></li>
      <li><a href="/regions/46">Vermont</a></li>
      <li><a href="/regions/47">Virginia</a></li>
      <li><a href="/regions/48">Washington</a></li>
      <li><a href="/regions/49">West Virginia</a></li>
      <li><a href="/regions/50">Wisconsin</a></li>
      <li><a href="/regions/51">Wyoming</a></li>
      <li><a href="/regions/52">Puerto Rico</a></li>
    </ul>
  </div>
</div>
