<table class="table">
  <tr>
    <th>Posted</th>
    <th>Name</th>
  </tr>
  <% @classifieds.each do |classified| %>
  <tr>
    <td><%= classified.created_at.strftime("%b %d") %></td>
    <td><%= link_to classified.name, classified %> <em>- <%= classified.category.name %></em></td>
  </tr>
  <% end %>
</table>
