@import "bootstrap";

.container { 
  padding-top: 10px;
  width: 650px;
}

.search {
  padding-top: 5px;
  text-align: right;
}

.navigation {
  text-align: right;
}

.new_classified {
  text-align: center;
}

.account {
  padding-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color: #35619E;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
